.bui-formcontrol >div>* {
	display: inline-block;
}

.bui-formcontrol input,
.bui-formcontrol .btn {
	border-radius: 0;
}

.bui-formcontrol .bui-prepend > :first-child {
	.border-left-radius(4px);
	overflow: hidden;
}

.bui-formcontrol .bui-append > :last-child {
	.border-right-radius(4px);
	overflow: hidden;
}

.bui-formcontrol .form-control {
	width: auto;
}

.bui-formcontrol .center-widget {
	width: 100%;
	&:first-child{
		.border-left-radius(4px);
	}
	&:last-child{
		.border-right-radius(4px);
	}
}

.bui-formcontrol .bui-icon-outer {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	.user-select(none);
}

.bui-formcontrol .bui-icon-outer .bui-append {
	float: none;
}

.bui-formcontrol .btn-group > .btn {
	float: none;
}
